name: permission
description: A new Flutter plugin.
version: 0.1.6
author: Lewis <once10301@gmail.com>
homepage: https://github.com/once10301/permission

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: com.ly.permission
    pluginClass: PermissionPlugin